.why{
  @extend .container;
  margin-bottom: 86px;

  @media (max-width: 1140px) {
    padding: 0 20px;
  }

  &-title{
    margin-bottom: 59px;
  }

  .why-card__first, .why-card__second{
    display: flex;

    &-photo{
      min-width: 550px;
      min-height: 536px;
      max-width: 550px;
      max-height: 536px;

      @media (max-width: 980px) {
        width: 327px;
        height: 327px;
        min-width: auto;
        min-height: auto;
        max-width: none;
        max-height: none;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content{
      background: #FBFBFB;
      position: relative;
      z-index: 1;
      padding: 0 0 0 49px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      @media (max-width: 980px) {
        width: 327px;
        height: 327px;
        padding: 55px 24px;
      }

      &__title{
        color: #F28482;
        @extend .comfortaa-bold;
        font-size: 25px;
        line-height: 140%;
        position: relative;
        z-index: 1;
        margin-bottom: 16px;
        @media (max-width: 980px){
          font-size: 20px;
        }
      }

      &__text{
        color: #444;
        @extend .montserrat-regular;
        font-size: 16px;
        width: 413px;
        margin-bottom: 16px;
        position: relative;
        z-index: 1;
        line-height: 140%; /* 22.4px */
        @media (max-width: 980px) {
          width: auto;
          font-size: 14px;
        }
      }

      &__href{
        color: #777;
        @extend .montserrat-medium;
        position: relative;
        z-index: 1;
        font-size: 14px;
        text-decoration-line: underline !important;
      }
    }
  }

  .why-card__first{
    margin-bottom: 33px;

    @media (max-width: 980px) {
      flex-direction: column;
    }

    &-content{

      &-bg-adaptive{
        display: none;
        @media (max-width: 980px) {
          display: block;
        }

        &.first{
          position: absolute;
          top: 0;
          right: 0;
        }

        &.second{
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      &-bg{
        @media (max-width: 980px) {
          display: none;
        }
      }

      &-bg.first{
        position: absolute;
        top: 0;
        right: 0;
      }

      &-bg.second{
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .why-card__second{
    @media (max-width: 980px) {
      flex-direction: column-reverse;
    }

    &-content{
      padding: 0 49px 0 115px;
      @media (max-width: 980px) {
        padding: 55px 24px;
      }
      &-bg-adaptive{
        display: none;
        @media (max-width: 980px) {
          display: block;
        }

        &.first{
          position: absolute;
          top: 0;
          left: 0;
        }

        &.second{
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      &-bg{
        @media (max-width: 980px) {
          display: none;
        }
      }

      &-bg.first{
        position: absolute;
        top: 0;
        left: 0;
      }

      &-bg.second{
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  &-content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}