.delivery{
  margin-bottom: 173px;
  @extend .container;
  @media (max-width: 1140px) {
    padding: 0 20px;
    margin-bottom: 153px;
  }

  &-title{
    margin-bottom: 20px;
    color: #F28482;
  }

  &-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 1140px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__item{
      max-width: 265px;
      max-height: 100px;
      @media (max-width: 1140px) {
        margin-bottom: 20px;
        margin-right: 20px;
      }

      @media (max-width: 500px) {
        max-width: none;
        width: 100%;
      }

      &-title{
        color: #444;
        @extend .montserrat-bold;
        font-size: 14px;
        line-height: 140%;
      }

      &-text{
        color: #444;
        @extend .montserrat-regular;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}