.about{
  @extend .container;
  padding: 35.12px 0 0 54px;
  position: relative;
  margin-bottom: 120px;
  display: flex;

  @media (max-width: 1140px) {
    padding: 0 20px;
  }

  @media (max-width: 950px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
  }
  
  &-bg{
    position: absolute;
    top: 0;
    left: 0;
    @media (max-width: 950px) {
      display: none;
    }
  }

  &-content{
    position: relative;
    min-width: 514px;
    max-width: 514px;
    z-index: 1;
    margin-right: 36px;
    @media (max-width: 950px) {
      background: #FBFBFB;
      width: 100%;
      padding: 55px 24px;
      height: auto;
      margin-right: 0;
      max-width: none;
      min-height: auto;
      min-width: auto;
    }
    &__title{
      color: #444;
      @extend .comfortaa-light;
      font-size: 35px;
      line-height: 140%;
      margin-bottom: 25px;
      @media (max-width: 950px) {
        display: none;
      }
    }

    &__title-adaptive{
      display: none;
      @media (max-width: 950px) {
        display: block;
        margin-bottom: 32px;
      }
    }

    &__text{
      color: #444;
      width: 475px;
      @extend .montserrat-regular;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 25px;
      @media (max-width: 950px) {
        width: auto;
      }
    }

    &__statistic{
      display: flex;
      justify-content: space-between;

      @media (max-width: 500px) {
        flex-direction: column;
      }

      &-item{
        width: 224px;

        @media (max-width: 500px) {
          &:first-child{
            margin-bottom: 41px;
          }
        }


        &__title{
          color: #F28482;
          @extend .montserrat-semi-bold;
          font-size: 40px;
        }

        &__subtitle{
          @extend .montserrat-regular;
          color: #777;
          font-size: 14px;
        }

        &__href{
          margin-top: 39px;
          color: #222;
          @extend .montserrat-medium;
          font-size: 16px;
          display: block;
          text-decoration-line: underline !important;
          text-transform: uppercase;
        }
      }
    }
  }
  &-photo{
    height: 489px;
    @media (max-width: 950px) {
      width: 100%;
      height: 327px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}