.footer {
  @extend .container;
  @media (max-width: 1140px) {
    padding: 0 20px;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 40px;
    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: none;
    }

    &__form {
      display: flex;
      align-items: center;
      width: 360px;
      @media (max-width: 640px){
        margin-top: 24px;
        width: 216px;

      }
      input {
        @extend .montserrat-regular;
        font-size: 12px;
        height: 40px;
        width: 100%;
        padding: 12px 14px;
        border: 1px solid #F28482;
        &::placeholder{
          color: #999;
        }

      }

      button {
        height: 40px;
        width: 113px;
        min-width: 113px;
        text-transform: none;
      }
    }
  }

  &-main{
    display: flex;

    &__col.first{
      margin-right: 83px;
      @media (max-width: 640px) {
        margin-right: 0;
      }
    }

    &__col.second{
      margin-right: 53px;
      @media (max-width: 640px) {
        display: none;
      }
    }

    &__col.third{
      margin-top: 32px;
      @media (max-width: 640px) {
        display: none;
      }
    }



    &__col{
      &-block{
        &__title{
          color: #F28482;
          @extend .comfortaa-bold;
          margin-bottom: 14px;
          font-size: 16px;
        }

        &__base{
          color: #444;
          @extend .montserrat-medium;
          font-size: 12px;
          display: block;
          margin-bottom: 12px;
        }

        &__phone{
          align-items: center;
          display: flex;
          margin-bottom: 10px;
          &-tel{
            color: #444;
            margin-left: 15px;
            @extend .montserrat-semi-bold;
            font-size: 16px;
          }
        }
        &__social{
          margin-bottom: 24px;
          display: flex;
          &-item{
            border-radius: 5px;
            background: #F7F7F7;
            width: 40px;
            height: 40px;
            @extend .center;
            margin-right: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-bottom{
    margin: 41px 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 31px 0 24px 0;
    }
    &__left{
      color: #777;
      @extend .montserrat-medium;
      font-size: 12px;
      span{
        @extend .montserrat-bold;
        color: #777;
        font-size: 12px;
      }
      @media (max-width: 640px) {
        margin-bottom: 12px;
      }
    }
    &__right, &__right a{
      color: #777;
      text-align: right;
      @extend .montserrat-medium;
      font-size: 12px;
    }
  }
}